//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.08
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18C
//Created Time: Sun 10 23 10:49:37 2022

IO_LOC "spi_miso" K16;
IO_PORT "spi_miso" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "dac_data[7]" G12;
IO_PORT "dac_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "dac_data[6]" F13;
IO_PORT "dac_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "dac_data[5]" M14;
IO_PORT "dac_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "dac_data[4]" M15;
IO_PORT "dac_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "dac_data[3]" T14;
IO_PORT "dac_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "dac_data[2]" R13;
IO_PORT "dac_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "dac_data[1]" P13;
IO_PORT "dac_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "dac_data[0]" R12;
IO_PORT "dac_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "dac_clk" J16;
IO_PORT "dac_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "adc_clk" G14;
IO_PORT "adc_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24;
IO_LOC "spi_cs" P11;
IO_PORT "spi_cs" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "spi_mosi" K15;
IO_PORT "spi_mosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "spi_clk" H16;
IO_PORT "spi_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "osc_27m" H11;
IO_PORT "osc_27m" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "rst_key" T2;
IO_PORT "rst_key" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "adc_data[3]" B14;
IO_PORT "adc_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "adc_data[1]" B13;
IO_PORT "adc_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "adc_data[6]" F14;
IO_PORT "adc_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "adc_data[2]" A15;
IO_PORT "adc_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "adc_data[0]" A14;
IO_PORT "adc_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "adc_data[4]" E15;
IO_PORT "adc_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "triggers[1]" C7;
IO_PORT "triggers[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "adc_data[7]" F16;
IO_PORT "adc_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "triggers[0]" D7;
IO_PORT "triggers[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "adc_data[5]" D14;
IO_PORT "adc_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
